*{
    box-sizing: border-box;
    margin: 0;
}

body {
    border: 2px solid black;
    width: 1024px;
    height: 512px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

header, nav, main, aside, footer {
    text-align: center;
}


header {
    border: 2px solid green;
    height: 100px;
    line-height: 100Px;
}

nav {
    border: 2px solid orange;
    height: 50px;
    line-height: 50px;
}

main, aside {
    height: 330px;
    float: left;
    line-height: 330px;
}

main {
    border: 2px solid blue;
    width: 75%;
    
}

aside {
    border: 2px solid red;
    width: 25%;
    
}

footer {
    border: 2px solid brown;
    height: 30px;
    clear: both;
    line-height: 30px;
}

