.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 2rem;
    
}

.produc-titulo{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #190abe;
}

.produc-precio{
    font-size: 1.5rem;
    color: #f00;
    margin-bottom: 1rem;
}